
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.navbar .logo img{
    width: 110px;
}
.nav ul li{
    display: inline-block;
    margin-right: 25px;
    font-size: 20px;
}
.nav li a{
    color:rgb(37, 18, 4);
    margin-left: 20px;
    padding: 5px 10px;
    
}
.nav li a:hover{
    background-color: chartreuse;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.nav{
    margin-right: 35%;
}
.icon i{
    font-size: 30px;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col-2{
    flex-basis: 50%;
}
.container .box{
    width: 500px;
    height: 500px;
    margin-top: -60px;
    position: relative;
}
.container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode:screen;
}
.container .box video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.col-2 h1{
    font-size: 3rem;
    color: rgb(48, 23, 5);
}
.col-2 span{
    font-size: 6rem;
    margin-left: 80px !important;
    line-height: 60px;
    margin: 20px 0;
}
.col-2 p{
    margin: 15px 0;
    font-weight: 400;
}
 .btn{
    display: inline-block;
    color: #fff;
    background-color: rgb(48, 23, 5);
    padding: 8px 30px;
    margin-left: 70%;
    margin-top: 5px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.btn:hover{
    padding: 8px 30px;
    background-color: green;
}

.aside{
    width: 100%;
    height: 100vh;
    position: relative;
}
.aside input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
input{
    position: relative;
    appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    outline: none;
    background: #999;
}
input::before{
    position: absolute;
    content: "";
    left: 5px;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: #fff;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
input:checked::before{
    left: 35px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}


